:root {
  --color-purple: #9141ac;
  --color-lighter-purple: #9b46b8;
  --color-pink: #dc8add;
  --color-white: #ffffff;
  --primary-font: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: 1.8rem;
  color: var(--color-white);
  user-select: none;
}

body {
  height: 100vh;
  background-image: repeating-linear-gradient(
    180deg,
    var(--color-purple),
    var(--color-purple) 2%,
    var(--color-lighter-purple) 2%,
    var(--color-lighter-purple) 4%);
  background-size: 100% 200%;
  background-color: var(--color-purple);
  animation: body-background-animation 10s linear infinite;
}

@keyframes body-background-animation {
  100% {
    background-position: 0 48%;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.birthdaycat {
  padding-bottom: 3rem;
  width: 40vw;
}

h1, h1 * {
  width: 100%;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 4vw;
}

@media (orientation: portrait) {
  .birthdaycat {
    padding-bottom: 2rem;
    width: 80vw;
  }

  h1, h1 * {
    padding-bottom: 1rem;
    font-size: 6vw;
  }
}
